<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.proxy.sh.safejumper.plus">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <application
        android:name="apps.base.app.BaseAppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${applicationLabel}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="apps.base.app.views.activities.SplashActivity"
                  android:theme="@style/SplashTheme"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="apps.base.app.views.activities.MainActivity"
                  android:theme="@style/MainTheme"
                  android:screenOrientation="portrait">
        </activity>

        <service
            android:name="de.blinkt.openvpn.core.OpenVPNService"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:process=":openvpn">
            <intent-filter>
                <action android:name="android.net.VpnService"/>
            </intent-filter>
        </service>


        <service
            android:name="de.blinkt.openvpn.core.OpenVPNStatusService"
            android:exported="false"
            android:process=":openvpn"/>


        <activity
            android:name="de.blinkt.openvpn.activities.DisconnectVPN"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:taskAffinity=".DisconnectVPN"
            tools:targetApi="lollipop"/>

    </application>
</manifest>
